/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

tr, img {
	page-break-inside:avoid
}
img {
	max-width:100% !important
}
img, object, embed {
	max-width:100%;
	height:auto
}
object, embed {
	height:100%
}
img {
	-ms-interpolation-mode:bicubic
}
#map_canvas img, .map_canvas img {
	max-width:none!important
}

.wrapper {
    width:100%;
    height:100%;
}
/* ====== Borders ====== */
.border-right {border-right:1px solid #d6d7d7;}
.border-bottom {border-bottom:1px solid #d6d7d7;}

/* ====== Indents ====== */
.indent-top1 {padding-top:10px;}
.indent-top2 {padding-top:18px;}
.indent-top3 {padding-top:24px;}
.indent-top4 {padding-top:32px;}

.indent-bottom1 {margin-bottom:25px;}

.indent-left1 {padding-left:15px;}
.indent-left2 {padding-left:20px;}
.indent-left3 {padding-left:25px;}

.indent-right1 {padding-right:15px;}
.indent-right2 {padding-right:19px;}
.indent-right3 {padding-right:20px;}
.indent-right4 {padding-right:11px;}
.indent-right5 {padding-right:10px;}

.p0{margin-bottom:0;}		.p0-1{margin-bottom:3px;}
.p1{margin-bottom:5px;}		.p1-1{margin-bottom:8px;}
.p2{margin-bottom:10px;}	.p2-1{margin-bottom:12px;}
.p3{margin-bottom:15px;}        .p3-1{margin-bottom:18px}
.p4{margin-bottom:20px;}	.p4-1{margin-bottom:22px;}
.p5{margin-bottom:25px;}	.p5-1{margin-bottom:28px;}
.p6{margin-bottom:30px;}	.p6-1{margin-bottom:32px;}
.p7{margin-bottom:35px;}	.p7-1{margin-bottom:37px;}
.p8{margin-bottom:40px;}	.p8-1{margin-bottom:42px;}

/* ====== Fonts ====== */
.italic {font: italic 18px/20px 'PT Sans', sans-serif;}
.normal-italic { font-weight:400; font-style:italic; }
.align-right {text-align:right;}
.align-center {text-align:center;}
.font13 {font-size:13px;}
/* ====== Header ====== */
header {
    width:100%; 
    height:85px;
    margin:32px 0 0; 
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -o-border-radius:8px; 
    border:none;
    bbackground: rgb(60,66,69); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjNDI0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzI1MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(60,66,69) 0%, rgb(35,37,38) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(60,66,69)), color-stop(100%,rgb(35,37,38))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(60,66,69) 0%,rgb(35,37,38) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(60,66,69) 0%,rgb(35,37,38) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(60,66,69) 0%,rgb(35,37,38) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(60,66,69) 0%,rgb(35,37,38) 100%); /* W3C */
    -pie-background: linear-gradient(rgb(60,66,69) 0%,rgb(35,37,38) 100%);
}
header h1 {display:none;}
.header-bg {background:url(../images/header-bg.png) 100% 100% no-repeat;}
header img {margin:24px 0 0 14px;}

/* ====== Footer ====== */
#footer {clear: both;}
footer a, footer a:visited {color: #444;}
footer address img {vertical-align:middle;}
footer address .mail img {margin-right:6px;}
footer address .phone img {margin-right:11px;}
footer .footer-links {float:right;}
footer .footer-links li {
    float:left;
    text-align:right;
    margin-left:16px;
    line-height:14px;
}
footer .footer-links li a {
    color: #444 !important;
    text-decoration:underline;
}
footer .footer-rights {text-align:right;}
/* ====== Menu ====== */
.menu-top {
    float:right;
    margin:35px 5px 0 0;
}
.menu-top > li {
    float:left;
    font:700 12.5px 'PT Sans', sans-serif;
    text-transform:uppercase;
    margin:0 7px;
}
.menu-top > li > a {
    color:#fff;
}
.menu-top > li > a:hover, .menu-top > li > a.selected {
    color:#cccc66;
    text-decoration:none;
}
.menu-top > li > a.last {color:#b7b7b7;}
.menu-top > li > a.last:hover, .menu-top > li > a.last.selected {color:#b63f00;}
.menu-page {
    float:right;
    margin:40px -5px 0 0;
}
.menu-page > li {
    float:left;
    font:400 12px 'PT Sans', sans-serif;
    text-transform:uppercase;
}
.menu-page > li > a {
    display:block;
    padding:4px 8px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -o-border-radius:8px; 
    color:#444;
}
.menu-page > li > a.selected {
    background-color:#cccc66;
    text-decoration:none;
}

.menu-bottom {
    margin:4px 30px 0 0;
    float:left;
    list-style-image:url(../images/menu-dot.png);
    list-style-position:inside;
}
.menu-bottom li {
    font:400 11px 'PT Sans', sans-serif;
    text-transform:uppercase;
} 

.menu-social {margin-top:10px;}
.menu-social li {
    float:left;
    margin-right:5px;
}

#mm0 { display:block; width:92%; margin:2px auto; height:1.6em;}
/* #Page Styles
================================================== */
.boxes, .page-content {
    width:100%;
    padding-top:16px;
    background:url(../images/boxes-bg-960.png) 50% 0 no-repeat;
}

/* ====== Gallery ====== */
.gallery-thumb {
    width:100px;
    height:100px;
    overflow:hidden;
    position:relative;
    float:left;
    margin:10px;
    border-radius:80px;
    -moz-border-radius:80px;
    -webkit-border-radius:80px;
}
.gallery-thumb.first {margin-left:0;}
.gallery-thumb.last {margin-right:0;}
.gallery-thumb a {
    display:block;
    width:100px;
    height:100px;
    background:url(../images/gallery-mask.png) no-repeat;
    position:absolute;
    z-index:100;
}
.gallery-thumb a:hover {background:url(../images/gallery-mask-hover.png) no-repeat;}

/* ====== Page Bar ====== */
.page-bar {
    height:40px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border:1px solid #ccc;
    -moz-box-shadow: 0px 1px 5px #ccc;
    -webkit-box-shadow: 0px 1px 5px #ccc;
    box-shadow: 0px 1px 5px #ccc;
    background: rgb(255,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(232,232,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* W3C */
    -pie-background: linear-gradient(rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%);
}
.page-bar .arrow {
    width:47px;
    height:38px;
    display:block;
    margin-top:1px;
}
.page-bar .arrow.left {
    background:url(../images/page-bar-left.png) no-repeat;
    float:left;
}
.page-bar .arrow.right {
    background:url(../images/page-bar-right.png) no-repeat;
    float:right;
}
.page-bar .dots {
    text-align:center;
    padding-top:13px;
}
.page-bar .dots a {
    display:inline-block;
    height:14px;
    width:14px;
    margin:0 2px;
    background:url(../images/page-bar-dot.png) 0 0 no-repeat;
}
.page-bar .dots a:hover, .page-bar .dots a.active {background:url(../images/page-bar-dot.png) -15px 0 no-repeat;}

/* ====== Inner pages ====== */
.content {
    background-color:#fcfcfc;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px; 
}

.content ul.disc {list-style:none;}
.content ul.disc li {margin-bottom:0;}
.content ul.disc li span {
    display:inline-block;
    width:8px;
    height:8px;
    margin:0 6px 0 20px;
    background-color:#bac768;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px; 
}

.content .disc ul {list-style:none;}
.content .disc ul li {
    background:url(/images/p.png) no-repeat 0 3px;
    padding: 0 0 0 15px;
    margin : 0;
 }
/* ====== Home page ====== */
.slider {
    width:100%;
    height:370px;
    position:relative;
    text-align:center;
    line-height:370px;
}

.boxes .box {
    background:#fff url(../images/box-bg.png) 100% 100% no-repeat;
    min-height:130px;
}
.box.box-left {
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;   
}
.box.box-right {
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px; 
}
.box .box-gallery{
    float:left;
    margin-top:4px;
}
.box .box-gallery li {
    float:left;
    padding:10px;
    background-color:#e8e8e8;
    margin-right:10px;
}
.box .box-gallery li img {
    display:block;
    margin-bottom:0;
}
.box .box-gallery li.last {margin-right:0;}
.box .box-gallery li .img-box {
    width:170px;
    height:122px;
    overflow:hidden;
}

/* ====== Portfolio page ====== */
.portfolio-item {
    background-color:#fff;
    border:1px solid #ccc;
    -moz-box-shadow: 1px 0px 4px #ccc;
    -webkit-box-shadow: 1px 0px 4px #ccc;
    box-shadow: 1px 0px 4px #ccc;
    margin-bottom:20px;
    text-align:center;
}
.portfolio-item .thumb {
    height:158px;
    margin:8px;
    overflow:hidden;
    border-bottom:1px solid #fff;
}
.portfolio-item .thumb img {
    display:block;
    margin-bottom:0;
}
.portfolio-item .text {
    height:47px;
    font-size:13px;
    margin:0;
}
.portfolio-item .text a {color:#444;}
.portfolio-item .more {
    height:28px;
    background-color:#f4f4f4;
    text-transform:uppercase;
    font-size:11px;
    line-height:28px;
    margin:0;
}
.portfolio-item .more a {
    display:block;
    color:#757575;
    text-shadow:1px 1px 2px #fff;
}
.portfolio-item:hover {background-color:#252729;}
.portfolio-item:hover .thumb {border-bottom:1px solid #555;}
.portfolio-item:hover .text a {
    color:#fff;
    text-decoration:none;
}
.portfolio-item:hover .more {background-color:#252729;}
.portfolio-item:hover .more a {
    color:#cccc66;
    text-shadow:none;
    text-decoration:none;
}

.portfolio-gallery {position:relative;}
.portfolio-gallery ul {
    margin:0 auto;
    padding:0;
    height:576px;
}
.portfolio-gallery li {
    text-align:center;
    cursor:pointer;
}
.portfolio-gallery li img {width:100%;}
.portfolio-gallery li.roundabout-in-focus {cursor:default;}
.portfolio-gallery li.roundabout-in-focus img {
    -moz-box-shadow: 2px 2px 5px #737272;
    -webkit-box-shadow: 2px 2px 5px #737272;
    box-shadow: 2px 2px 5px #737272;
}
.portfolio-gallery .prev, .portfolio-gallery .next {
    display:block;
    width:40px;
    height:43px;
    position:absolute;
    top:276px;
    z-index:1000;
}
.portfolio-gallery .prev {
    background:url(../images/carousel-arrows.png) 0 0 no-repeat;
    left:0;
}
.portfolio-gallery .next {
    background:url(../images/carousel-arrows.png) -40px 0 no-repeat;
    right:0;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
        @media only screen and (min-width: 768px) and (max-width: 959px) {
            .indent-left2 {padding-left:0;}
            .boxes {background:url(../images/boxes-bg-800.png) 50% 0 no-repeat;}
            .gallery-thumb.first {margin-left:10px;}
            .input-big input, textarea {width:300px;}
        }

	/* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 767px) {
            .border-right {border:none;}
            .border-bottom {border:none;}
            .indent-right2, .indent-right3 {padding-right:0;}
            
            header {height:96px;}
            footer .footer-links {float:left;}
            footer .footer-links li {
                text-align:left;
                margin:0 16px 0 0;
            }
            footer .footer-rights {text-align:left;}
            .boxes {background:url(../images/boxes-bg-480.png) 50% 0 no-repeat;}
            .gallery-thumb.first {margin-left:10px;}
            .portfolio-gallery .prev, .portfolio-gallery .next {top:140px;}
            .portfolio-gallery .prev {left:-20px;}
            .portfolio-gallery .next {right:-20px;}
            .portfolio-gallery ul {
                width:320px;
                height:310px;
                margin:0 20px;
            }
            #otherProjects {display:none;}
            #map {width:96%;}
            form.indent-left1, form .submit {padding-left:0;}
            form.indent-top3 {padding-top:0;}
            form label, .input-big input, textarea {width:370px;}
            form label {padding-bottom:4px;}
        }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
        @media only screen and (min-width: 480px) and (max-width: 767px) {
            .boxes {background:url(../images/boxes-bg-480.png) 50% 0 no-repeat;}
            .gallery-thumb.first {margin-left:10px;}
            .portfolio-item .thumb {margin:8px auto; width:202px;}
            .portfolio-gallery .prev, .portfolio-gallery .next {top:140px;}
            .portfolio-gallery .prev {left:-20px;}
            .portfolio-gallery .next {right:-20px;}
            .portfolio-gallery ul {
                width:320px;
                height:310px;
                margin:0 20px;
            }
            #otherProjects {display:none;}
            #map {width:96%;}
            form.indent-left1, form .submit {padding-left:0;}
            form.indent-top3 {padding-top:0;}
            form label, .input-big input, textarea {width:370px;}
            form label {padding-bottom:4px;}
			.menu-page li {
				float:none;
				}
        }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
            #mm0 {width:90%;}
            .boxes {background:url(../images/boxes-bg-320.png) 50% 0 no-repeat;}
            .gallery-thumb.first {margin-left:10px;}
            .portfolio-item .thumb {margin:8px auto; width:202px;}
            .portfolio-gallery .prev, .portfolio-gallery .next {top:140px;}
            .portfolio-gallery .prev {left:-20px;}
            .portfolio-gallery .next {right:-20px;}
            .portfolio-gallery ul {
                width:240px;
                height:300px;
                margin:0 5px;
            }
            #otherProjects {display:none;}
            #map {width:95%;}
            form.indent-left1, form .submit {padding-left:0;}
            form.indent-top3 {padding-top:0;}
            form label, input[type="text"], textarea {width:240px;}
            form label {padding-bottom:4px;}
			.menu-page {
				float:left;
				margin:0;				
				width:100%;}
			.menu-page li {
				float:none;
				display:block;
				margin:0 15px;
				padding:3px 0;				
				}
				.menu-page > li > a {
    bbackground: rgb(60,66,69); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjNDI0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzI1MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(60,66,69) 0%, rgb(35,37,38) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(60,66,69)), color-stop(100%,rgb(35,37,38))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(60,66,69) 0%,rgb(35,37,38) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(60,66,69) 0%,rgb(35,37,38) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(60,66,69) 0%,rgb(35,37,38) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(60,66,69) 0%,rgb(35,37,38) 100%); /* W3C */
    -pie-background: linear-gradient(rgb(60,66,69) 0%,rgb(35,37,38) 100%);
					 display:block;
					 color:#fff;}
					.menu-page > li > a:hover {
						text-decoration:none;
						background:#cccc66;}
				.menu-page > li > a.selected {
    background:#cccc66;
    text-decoration:none;
	color:#000;
}
        }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

/*
Inner pages
*/



